body{
    
    font-family: 'Courier New', Courier, monospace;
    font-style: oblique;
    background-color: grey;
    border-radius: 50px;
    border: 2px solid rgb(0, 0, 0);
    padding: 20px 20px 20px 20px;
    
    margin-left: 50%;
    margin-right: 250%;   
    width: 50%;
    height: 50%;
    left: 50%;
    top: 50%;
    margin-left: -25%;
    position: absolute;
    margin-top: -20%;
    
}

::placeholder{
    text-align: center;
    color: black;
    opacity: 50%;
}


img{
    display: block;
    padding: 10px;
    margin-left: auto;
    margin-right: auto;
}    

input[type=submit], input[type=reset] {
    background-color: rgb(48, 51, 51);
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}

input[type=submit]:focus, input[type=reset]:focus {
    background-color: rgb(25, 27, 27);
    border: none;
    color: white;
    padding: 16px 32px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
}


  label{
    text-align: left;
  }

  input{
    color: black;
    background-color: grey;
    border: none;
    border-bottom: 2px solid rgb(48, 51, 51);
    border-radius: 4px;
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    
  }

  input[type="text"]:focus,[type="password"]:focus {
    outline: none;
    border-bottom: 3px solid rgb(213, 208, 208);
    opacity: 50%;
    /* border-radius: 4px; */
  }

  h1{
    text-align: center;
  }